.border-left-radius {
  border-top-left-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}
.border-right-radius {
  border-top-right-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}

.input-box,
.input-box:focus {
  border: 0rem !important;
  outline: 0rem !important;
  box-shadow: none !important;
}

div.scrollmenu_cont ::-webkit-scrollbar {
  display: none;
}

div.scrollmenu_cont {
  height: 4rem;
}

div.scrollmenu {
  height: 4rem;
  display: flex;
  align-items: center;
  overflow-y: auto;
  transition: all 2s;
  scroll-behavior: smooth;
  white-space: nowrap;
  display: relative;
}

/* div.scrollmenu span {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} */

/* div.scrollmenu span:hover {
  background-color: #777;
} */

/* div.scrollmenu .arrowLeft {
  z-index: 10;
} */

/* Masonry Galary */

.row_cont {
  padding: 1rem;
  column-count: 4;
  margin: 0 auto;
}

.row_cont img {
  margin-bottom: 0.4rem;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .row_cont {
    column-count: 1;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .row_cont {
    column-count: 2;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .row_cont {
    column-count: 3;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .row_cont {
    column-count: 4;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .row_cont {
    column-count: 5;
  }
}
