.border-left-radius {
  border-top-left-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}
.border-right-radius {
  border-top-right-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}

.input-box,
.input-box:focus {
  border: 0rem !important;
  outline: 0rem !important;
  box-shadow: none !important;
}

div.scrollmenu_cont ::-webkit-scrollbar {
  display: none;
}

div.scrollmenu_cont {
  height: 4rem;
}

div.scrollmenu {
  height: 4rem;
  display: flex;
  align-items: center;
  overflow-y: auto;
  transition: all 2s;
  scroll-behavior: smooth;
  white-space: nowrap;
  display: relative;
}

/* div.scrollmenu span {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} */

/* div.scrollmenu span:hover {
  background-color: #777;
} */

/* div.scrollmenu .arrowLeft {
  z-index: 10;
} */

.search_results {
  z-index: 6;
  background-color: rgba(82, 82, 82, 0.6);
  padding-top: 3rem;
  padding-left: 2rem;
  /* height: fit-content; */
  /* margin-left: -5rem !important; */
  position: absolute;
  top: 0.4rem;
  left: 0rem;
  min-width: 100%;
  min-height: 100vh;
}

/* Masonry Galary */

.row_cont {
  padding: 1rem;
  column-count: 4;
  margin: 0 auto;
}

.row_cont img {
  margin-bottom: 0.4rem;
  width: 100%;
}

.modal_img_cont {
  margin: 0 auto;
  width: 45rem;
  height: 40rem;
  cursor: zoom-in;
}

.modal_img_cont.zoomed{
  width: 100%;
  height: 100%;
  cursor: zoom-out;
}

.modal_img_cont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img_cont {
  width: auto;
  height: auto;
  position: relative;
}

.img_overlay {
  position: absolute;
  cursor: zoom-in;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.img_cont:hover > .img_overlay {
  display: inline-block;
}

.img_cont > img {
  width: 100%;
  height: auto;
}

.arrow_left {
  position: absolute;
  left: -10rem;
}

.fav > *{
  pointer-events: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .row_cont {
    column-count: 1;
  }
  .modal_img_cont {
    width: 18rem;
    height: 20rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .row_cont {
    column-count: 2;
  }
  .modal_img_cont {
    width: 26rem;
    height: 30rem;
  }
}

@media only screen and (max-width: 1200px) {
  .vh-md-60 {
    height: 60vh !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .w-md-60 {
    width: 60% !important;
  }
  .w-md-80 {
    width: 80% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }

  .row_cont {
    column-count: 3;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .row_cont {
    column-count: 4;
  }

  .modal_img_cont {
    width: 45rem;
    height: 40rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .row_cont {
    column-count: 5;
  }
}
